:root {
    --body-bg: #ffffff;
    --body-text: #000000;
    --star-bg: #000000;
    --item-bg: #E7E7E7;
    --border: #CFCFCF;
    --icon-bdr: #000000;
    --cursordot-bg: #00aaff;
    --border-ring: #000000;
}

body.dark {
    --body-bg: #000000;
    --body-text: #ffffff;
    --star-bg: #ffffff;    
    --item-bg: #323232;
    --border: #4f4f4f;
    --icon-bdr: #ffffff;
    --cursordot-bg: #00aaff;
    --border-ring: #ffffff;
}

body {
    background: var(--body-bg);
}

