:root {
    --body-bg: linear-gradient(to bottom, #FF9043, #fea760);
    --body-text: #000000;
    --star-bg: #ffffff;
    --item1-bg: rgba(217, 217, 217, 0.5);
    --item2-bg: rgba(217, 217, 217, 0.8);
    --item-brd: #D9D9D9;
    --font-main: monospace;
    --icon-scroll-clr: #000000;
    --cursordot-bg: #00aaff;
    --border-ring: #000000;
    --shadow-box: 0 4px 12px rgba(0, 0, 0, 0.3);
    --link-brd: 2px solid #000000;
    --icon-bdr: #000000;
}

body.dark {
    --body-bg: linear-gradient(to bottom, #1E1B4B, #3E379A);
    --body-text: #ffffff;
    --star-bg: #ffffff;
    --item1-bg: rgba(255, 255, 255, 0.05);
    --item2-bg: rgba(255, 255, 255, 0.1);
    --item-brd: #D9D9D9;
    --font-main: monospace;
    --icon-scroll-clr: #ffffff;
    --cursordot-bg: #00aaff;
    --border-ring: #ffffff;
    --shadow-box: 0 4px 12px rgba(0, 0, 0, 0.3);
    --link-brd: 2px solid #ffffff;
    --icon-bdr: #ffffff;
}

body {
    background: var(--body-bg);
}

